
services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: hubenr_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: hubenr_backend
    restart: always
    depends_on:
      - postgres
    ports:
      - '5000:5000'
    environment:
      DATABASE_URL: postgres://admin:admin@postgres:5432/hubenr_db
    volumes:
      - ./backend:/app
    command: npm run start:dev

  frontend:
    build: ./frontend
    container_name: hubenr_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
    command: npm start

volumes:
  postgres_data:
